html, body {
  overflow-x; hidden;
}
body {
  font-family:"Roboto", Helvetica, Arial, sans-serif;
  color:#4A4A4A;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  color:#4A4A4;
}
h2 {
  font-size: 36;
  font-weight: normal;
  margin-bottom: 5px;
}
p {
  font-size: 16px;
  line-height: 19px;
  font-weight: 100;
}

/* GRID */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
.container:before,
.container:after {
  content: " ";
  display: table;
}
.container:after {
  clear:both;
}
.one-half, .one-third, .one-fourth {
  width:96%;
  float: left;
  position: relative;
  min-height: 1px;
  margin: 0 2% 20px;
}
@media (min-width: 320px) {
  .container {
    width: 304px;
  }
  .one-half {
    width:46%;
  }
  .one-third {
    width: 29.33333%;
  }
  .one-fourth {
    width:21%;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
    }
  }
@media (min-width: 992px) {
  .container {
    width:970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width:1170px;
  }
}

/* Header */
header {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3e9ddc+73,a32b77+100&0.1+89,0.1+89,0.1+89,0.1+98,0.1+100,0.1+100,0.1+102 */
  background: -moz-linear-gradient(top, rgba(62,157,220,0.1) 73%, rgba(122,89,160,0.1) 89%, rgba(156,51,126,0.1) 98%, rgba(163,43,119,0.1) 100%, rgba(163,43,119,0.1) 102%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(62,157,220,0.1) 73%,rgba(122,89,160,0.1) 89%,rgba(156,51,126,0.1) 98%,rgba(163,43,119,0.1) 100%,rgba(163,43,119,0.1) 102%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(62,157,220,0.1) 73%,rgba(122,89,160,0.1) 89%,rgba(156,51,126,0.1) 98%,rgba(163,43,119,0.1) 100%,rgba(163,43,119,0.1) 102%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a3e9ddc', endColorstr='#1aa32b77',GradientType=0 ); /* IE6-9 */
}
header nav {
    padding:1em 0;
}
header nav ul {
  display:inline;
  text-align: right;
  float:right;
  margin:0;
}
header nav ul > li {
  list-style-type: none;
  display: inline-block;
  margin:0 15px;
}
header nav ul > li.btn-outline {
  padding:10px 15px;
  border:2px solid #FFFFFF;
  border-radius: 4px;
}
header nav ul > li.btn-outline:hover {
  background:#FFFFFF;
}
header nav ul > li > a {
  color:#FFFFFF;
  text-decoration: none;
}
header nav ul > li.btn-outline:hover > a {
  color:#34495E;
}
header .hero {
   text-align: center;
   display:block;
   position: relative;
 }
 header .hero h1 {
   font-size:48px;
   font-weight: normal;
   margin:95px 0 0;
 }
 header .hero p {
   font-size: 22px;
   line-height: 26px;
   font-weight: 100;
   margin:10px 0 40px;
 }
 header .hero img {
   display: block;
   margin:3em auto 0;
 }

 /* Button */
 .btn {
   border-radius: 4px;
   color:#FFFFFF;
   font-weight: 700;
   text-decoration: none;
   padding:10px 30px;
   background: #40ABE9;
   border: 2px soild #2ECC71;
   box-shadow: 0px 2px 0px 0px #318DC2;
 }
.btn:hover {
   background:#FFFFFF;
   color:#4A4A4A;
   font-weight: 700;
 }
